<app-header></app-header>
<div class="welcome-outer">
  <div class="container welcome pt-5">
    <div class="row align-items-center main-title">
      <div class="col-12 col-md-6">
        <h1>My First Project Angular, Employee Management App</h1>
        <p class="pt-3">
          Collaborative creation, planning, and organization in one single
          place, for every team and any leader
        </p>
        <hr class="mt-2" />
      </div>
      <div class="col-12 col-md-6">
        <img
          class="img-logo"
          src="/assets/images/logowelcome.png"
          alt="logo img"
        />
      </div>
    </div>
  </div>
</div>
