:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: calc(100vh - 98px);
}

.content {
  margin: 10px;
  padding: 20px;
  height: calc(100vh - 120px);
  .search-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    .search-form-field {
      width: 80%;
      margin-left: 10px;
      border-radius: 5px;
    }
  }
  .table-employee {
    width: 100%;
  }
  .search-div {
    margin: 10px;
  }

  .search-form-field div.mat-form-field-underline {
    display: none;
  }
  .search-form-field div.mat-form-field-infix {
    border-top: 0px;
  }
  .search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
  }
}
