<div class="content" *ngIf="auth">
  <h1 class="text-center">List of Employee</h1>
  <div class="search-bar">
    <button class="btn btn-primary" (click)="goToAddEmployee()">
      <fa-icon [icon]="faPlus"></fa-icon> Add Data
    </button>
    <form>
      <div class="form-group form-inline search-form-field">
        <input
          class="form-control"
          type="text"
          name="search"
          [formControl]="filter"
          placeholder="Search..."
          [(ngModel)]="searchKey"
          (keyup)="applyFilter()"
        />
      </div>
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" (click)="sortName('first_name')">
          First Name <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th scope="col" (click)="sortName('last_name')">
          Last Name<fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th scope="col" (click)="sortName('email')">
          Email <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th scope="col" (click)="sortNumber()">
          Salary <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th scope="col" (click)="sortNumber()">
          Description <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of employeeList
            | slice: (page - 1) * pageSize:page * pageSize
            | searchFilter: searchKey
        "
      >
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.basicSalary }}</td>
        <td>{{ data.description }}</td>
        <td>
          <div class="row">
            <a
              class="col-4 btn"
              routerLink="/dashboard/employee/detail/{{ data.username }}"
              (click)="goToDetail(data)"
            >
              <fa-icon [icon]="faInfo"></fa-icon>
            </a>
            <div class="col-4 btn" (click)="open('edit')">
              <fa-icon [icon]="faEdit"></fa-icon>
            </div>
            <div class="col-4 btn" (click)="open('delete')">
              <fa-icon [icon]="faDelete"></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    class="d-flex justify-content-end"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="employeeList.length"
  ></ngb-pagination>
</div>
<div *ngIf="!auth">
  <h1>SILAHKAN LOGIN TERLEBIH DAHULU!</h1>
</div>
