<div class="content" *ngIf="auth">
  <h2 class="text-center">About Me</h2>
  <div class="card m-auto">
    <img
      src="https://lh3.googleusercontent.com/pw/AM-JKLVMUdsSXAt4xM2aucfMxasWQQizJO78SJBz-Sdb-boZBijLf-z_OOp6V_iA5FD-oDLXkYpFaybprvf6DXg7Hjh2p6nxDx38uXKzpcH0HCFOJPZaYt4QQoLp0p5JxA_R5ik02K3ibI0io3yh1NLcX7N_DQ=w1608-h903-no"
      class="card-img-top"
      alt="foto"
    />
    <div class="card-body">
      <h5 class="card-title text-center">Created By:</h5>
      <p class="card-text text-center">Surya Muhammad</p>
    </div>
  </div>
</div>
<div *ngIf="!auth">
  <h1>SILAHKAN LOGIN TERLEBIH DAHULU!</h1>
</div>
