<div class="content" *ngIf="auth">
  <h1 class="text-center">Add Employee</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
        />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="username">Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label for="status">Status</label>
        <input
          type="text"
          formControlName="status"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
        />
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div *ngIf="f.status.errors.required">Username is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.email">please input correct Email!</div>
        </div>
      </div>
      <div class="form-group col"></div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="birthDate">Birth Date</label><br />
        <input
          formControlName="birthDate"
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="birthDate"
          [(ngModel)]="model1"
          ngbDatepicker
          #d1="ngbDatepicker"
          [maxDate]="maxDate"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d1.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
        <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
          <div *ngIf="f.birthDate.errors.required">birthDate is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label for="birthDate">Departements</label><br />
        <select
          class="custom-select"
          id="inputGroupSelect01"
          formControlName="group"
          name="group"
        >
          <option *ngFor="let dept of departements" [value]="dept.value">
            {{ dept.viewValue }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="basicSalary">Salary</label>
        <input
          formControlName="basicSalary"
          class="form-control"
          type="number"
          [ngClass]="{ 'is-invalid': submitted && f.basicSalary.errors }"
        />
        <div *ngIf="submitted && f.basicSalary.errors" class="invalid-feedback">
          <div *ngIf="f.basicSalary.errors.required">
            basicSalary is required
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label for="description">Description</label><br />
        <input
          formControlName="description"
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="description"
          [(ngModel)]="model2"
          ngbDatepicker
          #d2="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d2.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">
            description is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Save
      </button>
      <a routerLink="/dashboard" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
<div *ngIf="!auth">
  <h1>SILAHKAN LOGIN TERLEBIH DAHULU!</h1>
</div>
